@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Book Library</h1>

<!-- Invoke the BookViewComponent with a specific book ID -->
@await Component.InvokeAsync("BookView", new { bookid = 40 })
